* {
	box-sizing: border-box;
}

body {
	margin: 0 auto; /* page will be in the center of the screen*/
	width: 960px;
	font-family: Verdana;
	color: #aaaaaa;
}

a {
	color: darkblue;
	text-decoration: none;
}

/*a:link{
	color:black;
	text-decoration: none;
}
a:hover{
	  background-color:#e5e5e5 ;
*/
#errInput {
	color: red;
}

.header {
	background-color: darkblue; /*#151515;*/
	padding: 15px;
	text-align: center;
}

.menu {
	float: left;
	width: 20%;
	text-align: center;
}

.menuitem {
	background-color: lightblue /*#e5e5e5 */;
	padding: 8px;
	margin-top: 7px;
}

.main {
	float: left;
	width: 60%;
	padding: 0 20px;
}

.main-right {
	float: left;
	width: 80%;
	padding: 0 20px;
}

.col3 {
	background-color: powderblue;
	float: left;
	width: 33%;
	border: 1px solid;
	padding: 20px;
}

.col2 {
	background-color: lightgrey;
	float: left;
	width: 50%;
	/* border: 1px solid; */
	padding: 20px;
}

.right {
	background-color: #e5e5e5;
	float: left;
	width: 20%;
	padding: 15px;
	margin-top: 7px;
	text-align: center;
}

.footer {
	background-color: #151515;
	text-align: center;
	padding: 10px;
	margin-top: 10px;
}
/*
table.tbl-official{
	color:black;
	background-color: powderblue;
	border:solid  black 1px;
}
*/
table {
	color: black;
}

tr:nth-child(even) {
	background-color: #ffffff;
}

tr:nth-child(odd) {
	background-color: #efefef;
}

tr:hover {
	background-color: #c3e6e5;
}
/*
.tbl-official td {
	color:black;
	background-color: powderblue;
	border:solid  black 1px;
}
.tbl-official th {
	color:black;
	background-color: powderblue;
	border:solid  black 1px;
}
*/
@media only screen and (max-width:620px) {
	/* For mobile phones: */
	.menu, .main, .right {
		width: 100%;
	}
}